<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>{{autorising}}</div>
    <div>
        {{#bul}}
        Ваш логин: {{login}}<br>
        Ваш пароль: {{password}}
        {{/bul}}
    </div>
    <br>
    <a href="/signin">Выход</a>
</body>
</html>